@import '../../styles/settings/vars';

.header {
  height: 60px;
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint($tab) {
    height: 90px;
  }
}