@import '../../../styles/settings/vars';

.refcard {
	position: relative;
	overflow: hidden;

	&:hover > .refcardcontent {
		bottom: 7px;
		opacity: 1;
	}

	figure {
		img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.refcardcontent {
	position: absolute;
	bottom: -200px;
	opacity: 0.3;
	width: 100%;
	text-align: center;
	background: $white;
	transition: all 0.4s ease;

	h3 {
		font-size: 32px;
		line-height: 32px;
		font-weight: $bold;
		padding: 8px;
		color: $black;
	}

	p {
		color: $black;
		font-weight: $smb;
		font-size: 16px;
		padding: 8px;
		padding-top: 0;
	}
}
