@import '../../styles/settings/vars';

// LAYOUT FOR /page
.layout_page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 60px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-y: auto;
  
  @include breakpoint($tab) {
    height: calc(100vh - 90px);
  }
}

// LAYOUT FOR GRID /page
.layout_gridpage {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 60px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  padding-right: 0;
  overflow-y: auto;
  
  @include breakpoint($tab) {
    height: calc(100vh - 90px);
  }

  @include breakpoint($desktop) {
    padding: 0 16px;
  }
}

// LAYOUT FOR /page/[uid]
.layout_post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 16px;

  width: 100%;
  // height: calc(100vh - 60px);
  max-height: 90vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-y: scroll;

  @include breakpoint($tab) {
    // grid-template-columns: 0.4fr 0.6fr;
    grid-template-columns: 0.3fr 0.7fr;
    // height: calc(100vh - 90px);
    overflow-y: hidden;
  }
}