@import '../../styles/settings/vars';

.layout_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;

  max-width: 1440px;
  max-height: 90vh;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.layout_post {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;

  max-width: 1024px;
  max-height: 90vh;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  overflow-y: scroll;

  @include breakpoint($tab) {
    grid-template-columns: 0.3fr 0.7fr;
    overflow-y: hidden;
  }
}