@import '../../styles/settings/vars';

.refcard {
  position: relative;

  figure {
    
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.refcardcontent {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: white;

  h3 {
    padding: 8px;
    color: $black;
  }

  p {
    padding: 8px;
    padding-top: 0;
    color: $black;
  }
}