@import '../../styles/settings/vars';

.smpcard {
  position: relative;
  overflow: hidden;

  &:hover > .smpcardcontent {
    bottom: 0;
    opacity: 1;
  }

  figure {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.smpcardcontent {
  position: absolute;
  bottom: -44px;
  opacity: 0.3;
  width: 100%;
  text-align: center;
  background: $white;
  transition: all 0.3s ease;

  h3 {
    padding: 8px;
    color: $black;
  }

  p {
    color: $black;
    padding: 8px;
    padding-top: 0;
  }
}