@import '../../styles/settings/vars';

.smpcard {
  position: relative;

  figure {
    width: 100%;
    // max-width: 288px;

    img {
      width: 100%;
      max-height: 288px;
      object-fit: cover;
    }
  }
}

.smpcardcontent {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: $white;

  h3 {
    padding: 8px;
    color: $black;
  }

  p {
    color: $black;
    padding: 8px;
    padding-top: 0;
  }
}