@import '../../styles/settings/vars';

.smpcard {
  position: relative;
  max-height: 484px;

  figure {
    // max-width: 333px;
    width: 100%;
    overflow: hidden;
    max-height: 484px;

    
    img {
      width: 100%;
      max-height: 484px;
      object-fit: cover;
    }
  }
}

.smpcardcontent {
  position: relative;
  bottom: 34px;
  // left: calc(50% - 166.5px);
  width: 100%;
  text-align: center;
  background: white;

  h3 {
    padding: 8px;
    color: $black;
  }

  p {
    color: $black;
    padding: 8px;
    padding-top: 0;
  }
}