@import '../../styles/settings/vars';

.footer {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: $black;

  @include breakpoint($tab) {
    height: 90px;
  }
}

.footernav {
  display: flex;
  padding: 24px 16px;
  width: 100%;
}

.footernavList {
  display: flex;
  justify-content: space-between;
  width: 100%;

  li {
    position: relative;
    padding: 2px;
    text-align: center;

    &:after {
      content: 'coming soon';
      position: absolute;
      bottom: 32px;
      left: 13%;
      width: max-content;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      &:after {
        opacity: 1;
        animation: blink 1.8s infinite;
      }

    }

    @include breakpoint($desktop) {
      min-width: 69px;
    }

    a {
      color: $white;

      @include breakpoint($tab) {
        font-size: 24px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 40%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        // MAKE TRIANGLE EQUILATERAL = (border-left-width + border-right-width) * 0.866% 
        border-bottom: 12.124px solid $white;
        opacity: 0;
        transition: all 0.3s ease;
      }

      &:hover {
        &:after {
          opacity: 1;
          animation: blink 1.8s infinite;
        }
      }
    }

  }
}

// ADD CURSOR TO ACTIVE NAV
// .active {
//   position: relative;

//   &:after {
//     content: '';
//     position: absolute;
//     bottom: -10px;
//     left: 40%;
//     width: 0;
//     height: 0;
//     border-left: 7px solid transparent;
//     border-right: 7px solid transparent;
//     border-bottom: 12.124px solid $white;
//   }
// }

// BLINKING CURSOR KEYFRAMES
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}