@import '../../styles/settings/vars';

.nav {
  display: flex;
  padding: 24px 16px;
  width: 100%;
  // max-width: 500px;
}

.navList {
  display: flex;
  justify-content: space-between;
  width: 100%;

  li {
    position: relative;
    padding: 2px;
    text-align: center;
    
    @include breakpoint($desktop) {
      min-width: 69px;
    }

    a {
      color: $white;
      
      @include breakpoint($tab) {
        font-size: 24px;
      }

      &:hover {
        &:after {
          content: '';
          position: absolute;
          // bottom: 0;
          // left: 44px;
          bottom: -7px;
          left: 40%;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid $white;
        }
      }
    }

  }
}

.active {
  position: relative;
  font-weight: $smb;

  &:after {
    content: '';
    position: absolute;
    // bottom: 0;
    // left: 44px;
    bottom: -7px;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $white;
  }
}
