@import './settings/vars';

// INDEX STYLE
.aboutbody {
  margin-top: 32px;
}

.abouttitle {
  padding-left: 16px;
}

.backlink {
  position: relative;
  margin-top: 32px;
  padding-left: 32px;

  &:after {
    content: '';
    position: absolute;
    left: 17px;
    bottom: 9px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:7px solid $purple;
  }

  &:hover {
    &:after {
      animation: goBack 0.8s infinite;
    }
  }
}

// ARROW ANIM BACKLINK
@keyframes goBack{
  0%, 100% {
    left: 17px;
  }

  50% {
    left: 22px;
  }
}