@import './settings/vars';

// INDEX STYLE
.aboutbody {
  margin-top: 32px;
}

.abouttitle {
  padding-left: 16px;
}

.backlink {
  position: relative;
  padding-left: 36px;
  margin: 18px 0;

  @include breakpoint($tab) {
    margin: 36px 0;
  }

  &:after {
    content: '';
    position: absolute;
    left: 16px;
    bottom: 9px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 12.124px solid $purple;
  }

  &:hover {
    &:after {
      animation: goBack 0.8s infinite;
    }
  }
}

// ARROW ANIM BACKLINK
@keyframes goBack{
  0%, 100% {
    left: 16px;
  }

  50% {
    left: 21px;
  }
}