@import './settings/vars';

// INDEX STYLE
.aboutbody {
  margin-top: 32px;
}

.abouttitle {
  padding-left: 16px;
}

.backlink {
  padding-left: 36px;
  margin: 18px 0;
  
  @include breakpoint($tab) {
    margin: 36px 0;
  }
  
  a {
    position: relative;

    &:hover {

      &:after {
        animation: goBack 0.8s infinite;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: -20px;
      bottom: 5px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 12.124px solid $purple;

      @include breakpoint($desktop) {
        bottom: 9px;
      }
    }
  }
}

// ARROW ANIM BACKLINK
@keyframes goBack{
  0%, 100% {
    left: -20px;
  }

  50% {
    left: -15px;
  }
}