// FONTS

// VARS

// RESPONSIVE
$small: 768;
$medium: 992;
$large: 1441;

@mixin breakpoint($point) {
  @media (min-width: $point + 'px') {
    @content;
  }
}

// @include breakpoint($medium) {
// }

// GLOBAL STYLE
body {
  background: black;
  color: white;
}