@import './settings/vars';

.homectn {
  height: 80vh;
  display: inherit;
  align-items: center;
}

.hometitle {
  font-size: 39px;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;


  @include breakpoint($tab) {
    font-size: 169px;
    padding-right: 30px;
  }

  @include breakpoint($desktop) {
    padding-right: 130px;
  }
}
