@import './settings/vars';

// PAGE STYLE
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;

  overflow-y: auto;
  height: 100%;
  margin-top: 32px;
  padding-right: 8px;

  @include breakpoint($desktop) {
    overflow-y: scroll;
  }
}

// POST STYLE
.refhead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px 0;
  padding-right: 16px;
  margin: 0 0 16px 0;

  @include breakpoint($desktop) {
    padding: 16px;
  }

  figure {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

// .refinfo {

//   h1 {

//   }

//   h2 {

//   }
// }

// .refbody {
 
// }

.backlink {
  padding-left: 19px;
  margin: 8px 0;

  @include breakpoint($tab) {
    margin: 36px 0;
  }

  a {
    position: relative;
    &:hover {

      &:after {
        animation: goBack 0.8s infinite;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: -20px;
      bottom: 5px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 12.124px solid $purple;

      @include breakpoint($desktop) {
        bottom: 9px;
      }
    }
  }
}

// ARROW ANIM BACKLINK
@keyframes goBack{
  0%, 100% {
    left: -20px;
  }

  50% {
    left: -15px;
  }
}