@import './settings/vars';

// PAGE STYLE
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-template-rows: 1fr;
  gap: 16px;

  overflow-y: scroll;
  height: 75vh;
  margin-top: 32px;
  padding-right: 16px;

  > div {

    &:last-child {
      margin-bottom: 72px;
    }
  }
}

// POST STYLE
.refhead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  padding-bottom: 0;
  margin: 0 0 16px 0;

  figure {
    width: 100%;
    text-align: center;
    
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.refinfo {

  h1 {

  }

  h2 {

  }
}

.refbody {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 16px;

  @include breakpoint($tab) {
    overflow-y: auto;
  }
}

.backlink {
  margin-top: 32px;
}