@import './settings/vars';

// PAGE STYLE
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;

  overflow-y: auto;
  height: 100%;
  margin-top: 32px;
  padding-right: 8px;

  @include breakpoint($desktop) {
    overflow-y: scroll;
  }
}

// POST STYLE
.refhead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;

  figure {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

// .refinfo {

//   h1 {

//   }

//   h2 {

//   }
// }

// .refbody {
 
// }