@import './settings/vars';

// INDEX STYLE
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;

  overflow-y: auto;
  height: 100%;
  margin-top: 32px;
  padding-right: 8px;

  @include breakpoint($desktop) {
    overflow-y: scroll;
  }

  > div {

    &:last-child {
      margin-bottom: 72px;
    }
  }
}

// UID STYLE
.smphead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  padding-bottom: 0;
  margin: 0 0 16px 0;

  figure {
    width: 100%;

    img {
      width: 100%;
      max-width: 250px;
      max-height: 250px;
      object-fit: cover;
    }
  }
}

.smpinfo {

  h1 {

  }

}

.smpbody {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 16px;

  @include breakpoint($tab) {
    overflow-y: auto;
  }
}

.backlink {
  position: relative;
  padding-left: 20px;
  margin: 18px 0;

  @include breakpoint($tab) {
    margin: 36px 0;
  }

  a {
    position: relative;
    &:hover {

      &:after {
        animation: goBack 0.8s infinite;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: -20px;
      bottom: 8px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 12.124px solid $purple;
    }
  }
}

// ARROW ANIM BACKLINK
@keyframes goBack{
  0%, 100% {
    left: -20px;
  }

  50% {
    left: -15px;
  }
}