@import './settings/vars';

// INDEX STYLE
.pad {
	padding-left: 10px;
}

// UID STYLE
.smphead {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 16px;
	padding-right: 16px;

	figure {
		width: 100%;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.bodyDark {
	background-color: rgba(0, 0, 0, 0.3);
	transition: 1.5s all ease-in-out;
}

.bodyLight {
	background-color: rgba(255, 255, 255, 0.9);
	transition: 1.5s all ease-in-out;
}

// .smpinfo {

//   h1 {

//   }

// }
