@import './settings/vars';

// INDEX STYLE
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-template-rows: 1fr;
  gap: 16px;
  overflow-y: scroll;
  height: 80vh;
  margin-top: 32px;

  > div {

    &:last-child {
      margin-bottom: 72px;
    }
  }
}

// UID STYLE
.smphead {

  figure {
    width: 100%;
    
    img {
      width: 100%;
      max-width: 250px;
      max-height: 250px;
      object-fit: cover;
    }
  }
}

.smpinfo {

  h1 {

  }

}